.footer-top {
    position: fixed;
    height: 4vh;
    width: 100%;
    background-color: #C4C4C4;
    top: 0;
    left: 0;
}

.footer-bottom {
    position: fixed;
    height: 4vh;
    width: 100%;
    background-color: #C4C4C4;
    bottom: 0;
    left: 0;
}

.main-container {
    padding-top: 6vh;
    padding-bottom: 6vh;
    padding-left: 0 !important;
    margin-left: 0 !important;
    display: flex;

}

.title {
    margin-left: 40px;
    margin-top: 15px;
}

.sub-title {
    font-family: 'sarabun-semibold';
    font-size: 30px;
    margin-bottom: 2vh;
    margin-top: 2vh;
    background-color: #D9D9D9;
    height: 70px;
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.book-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    align-items: start;
    background-color: #C4C4C4;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    padding: 5vh;
    border-radius: 15px;
    margin-right: 2vh;
}

.book {
    display: flex;
    justify-content: center;
}

.book-image {
    width: 150px;
    height: 200px;
    margin-top: 1vh;
    object-fit: cover;
    border-radius: 10px;
}

.book-title {
    font-family: 'sarabun-semibold';
    font-size: 20px;
    margin-top: 0.5vh;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.book-author {
    font-family: 'sarabun-regular';
    font-size: 15px;
    margin-top: 0.5vh;
    margin-bottom: 1vh;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 170px;
}

.wishlist-button {
    height: 30px;
    width: 90px;
    background-color: #75A0F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: #8a8a8a 0px 4px 4px 0px;
    cursor: pointer;
}

.rating {
    display: flex;
    align-items: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.star {
    width: 25px;
    height: 25px;
    margin-right: 0.5vh;
    cursor: pointer;
}

.book-container {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.book-container::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}