<div class="footer-top"></div>
<div class="main-container">
    <div style="width: 300px; margin-right: 40px;">
        <div>
            <img class="title" src="../../../assets/icons/pxc.svg">
            <div class="sub-title" style="background-color: #737373;">
                Recommend
            </div>
            <div class="sub-title" style="background-color: #D9D9D9; cursor: pointer;"
                (click)="navigateToLibrary()">
                Library
            </div>
            <div class="sub-title" style="background-color: #D9D9D9; cursor: pointer;" 
                (click)="navigateToBrowse()">
                Browse
            </div>
            <div class="sub-title" style="background-color: #D9D9D9; cursor: pointer;" 
                (click)="navigateToSettings()">
                Settings
            </div>
        </div>
    </div>
    <div class="book-container" style="width: 100%;">
        <div class="book" *ngFor="let book of bookList">
            <div class="book">
                <div>
                    <img class="book-image" [src]="book.image_url">
                    <div class="book-title">{{book.title}}</div>
                    <div class="book-author">{{book.author}}</div>
                    <div class="wishlist-button" (click)="addToWishlist(book.book_id)">
                        <span style="font-family: 'sarabun-medium'; margin-right: 1px;">Wishlist</span>
                        <img *ngIf="!book.wishlisted" src="../../../assets/icons/check.svg">
                        <img *ngIf="book.wishlisted" src="../../../assets/icons/cross.svg">
                    </div>
                    <div class="rating">
                        <img class="star"
                            [src]="i <= book.rating ? '../../../assets/icons/star.svg' : '../../../assets/icons/no-star.svg'"
                            (click)="rateBook(book.book_id, i)" *ngFor="let i of [1, 2, 3, 4, 5]" />
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="footer-bottom"></div>