<div class="footer-top"></div>
<div class="screen"><img src="../../../assets/icons/main-icon.svg">
    <div class="form-container">
        <form>
            <div style="margin-bottom: 10px;">
                <div for="usernamelable">Username:</div>
                <input type="text" class="form-control" id="username" [(ngModel)]="signinForm.username"
                    placeholder="Parnon" aria-describedby="username" required
                    [ngModelOptions]="{standalone: true}" [ngClass]="{'inputemptyWarning': isUsernameEmtpy}">
                <p [ngClass]="{'warn': isUsernameEmtpy}" class="textemptyWarning">{{warningUsernameMessage}}</p>
            </div>
            <div style="margin-bottom: 10px;">
                <div for="exampleInputPassword1">Password:</div>
                <input type="password" class="form-control" [(ngModel)]="signinForm.password"
                    placeholder="Hippo_007" id="exampleInputPassword1" [ngModelOptions]="{standalone: true}"
                    [ngClass]="{'inputemptyWarning': isPasswordEmtpy}">
                <p class="textemptyWarning" [ngClass]="{'warn': isPasswordEmtpy}">{{warningPasswordMessage}}</p>
            </div>
            <div class="checkbox-container">
                <div class="form-check" style="margin-bottom: 5px;">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" [(ngModel)]="isChecked"
                        [ngModelOptions]="{standalone: true}">
                    <label class="form-check-label">Remember Me</label>
                    <label class="form-check-label" style="cursor: pointer; margin-left: 2vh; text-decoration: underline; color: #0067B4;"
                        (click)="navigateToSignUp()">
                        Sign Up
                    </label>
                </div>
            </div>
            <div style="text-align: center;"><button type="submit" (click)="submitForm()"
                    class="btn btn-primary">Sign In</button></div>

        </form>
    </div>
</div>
<div class="footer-bottom"></div>